{%extends "main/layout/basic.html"%}
{%block title%}Добавления объявления{%endblock%}

{%block content%}
<h1>Добавления объявления</h1>
{%if messages%}
<ul class="messages">
    {%for message in messages%}
    <li {%if message.tags%} class="{{message.tags}}" {%endif%}>
        {{message}}
    </li>
    {%endfor%}
</ul>
{%endif%}
<form method="post", enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Добавить">
</form>
{%endblock%}